<mat-toolbar color="primary" class="navbar">
  <span
    ><mat-icon class="icon-display" aria-hidden="false"
      >restaurant_menu</mat-icon
    >
    <h1 class="home">Butik čvaraka</h1></span
  >
  <div>
    <span class="link"><a mat-button routerLink="/chef">Chef</a></span>
    <span class="link"
      ><a mat-button routerLink="/bartender">Bartender</a></span
    >
    <span class="link"><a mat-button routerLink="">Waiter</a></span>
    <span class="link"
      ><a mat-button routerLink="/employees">Employees</a></span
    >
    <span class="link"><a mat-button routerLink="/login">Login</a></span>
    <span class="link"
      ><button mat-flat-button color="primary" (click)="logout()">
        Logout
      </button></span
    >
  </div>
</mat-toolbar>
