<mat-card class="card">
  <mat-card-header>
    <mat-card-title [matTooltip]="menuItem.itemName">{{
      menuItem.itemName | shortenString: 15
    }}</mat-card-title>
    <mat-card-subtitle [matTooltip]="menuItem.itemCategory">{{
      menuItem.itemCategory | shortenString: 20
    }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="imageSource" alt="Photo of menu item" class="header-image" />
  <mat-card-actions align="start">
    <span class="price">
      <strong> Price: {{ menuItem.price }}</strong>
    </span>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Add
    </button>

    <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
      <button
        mat-menu-item
        *ngFor="let group of groups"
        (click)="addMenuItemToExistingGroup(group)"
      >
        {{ group.name }}
      </button>
      <hr />
      <button mat-menu-item (click)="addMenuItemToNewGroup()">
        Add to new group
      </button>
    </mat-menu>
  </mat-card-actions>
  <mat-card-content>
    <p [matTooltip]="menuItem.itemDescription">
      {{ menuItem.itemDescription | shortenString: 20 }}
    </p>
    <hr />
    <p [matTooltip]="menuItem.itemAllergies">
      {{ menuItem.itemAllergies | shortenString: 20 }}
    </p>
  </mat-card-content>
</mat-card>
