<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ menuItem.itemName | shortenString: 15 }}</mat-card-title>
    <mat-card-subtitle>{{
      menuItem.itemCategory | shortenString: 24
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-lg-image
    [src]="imageSource"
    alt="Photo of menu item"
    class="header-image"
  />
  <mat-card-content>
    <h3>
      <strong>{{ menuItem.price }}</strong>
    </h3>
    <p>
      {{ menuItem.itemDescription | shortenString: 25 }}
    </p>
    <hr />
    <p>
      {{ menuItem.itemAllergies | shortenString: 25 }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Add
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
      <button
        mat-menu-item
        *ngFor="let group of groups"
        (click)="addMenuItemToExistingGroup(group)"
      >
        {{ group.name }}
      </button>
      <hr />
      <button mat-menu-item (click)="addMenuItemToNewGroup()">
        Add to new group
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
