<div>
  <button mat-flat-button color="primary" (click)="onCreateSection()">
    Create new section
  </button>
</div>
<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <mat-tab
    *ngFor="let section of sections; let index = index"
    [label]="section.name"
  >
    <app-section-tab
      [section]="section"
      (onUpdateSection)="onUpdateSection($event)"
      (onDeleteSection)="onDeleteSection($event)"
    ></app-section-tab>
  </mat-tab>
</mat-tab-group>
