<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Update {{ menuItem.itemName }}'s price</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width-input">
      <input
        id="menuItemUpdatePriceField"
        matInput
        placeholder="New price"
        formControlName="price"
        type="number"
        required
      />
      <mat-error> Please provide a valid price. </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      id="menuItemUpdateCancelBtn"
      mat-flat-button
      color="basic"
      type="button"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
    <button
      id="menuItemUpdateSubmitBtn"
      mat-flat-button
      [disabled]="!form.valid"
      color="primary"
      type="submit"
    >
      Save changes
    </button>
  </div>
</form>
