<div class="container">
  <div>
    <button mat-flat-button color="primary" (click)="onAddTable()">
      Add new table
    </button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="selectedTableId === 0"
      (click)="onDeleteTable()"
    >
      Delete table {{ selectedTableNumber > 0 ? selectedTableNumber : "" }}
    </button>
  </div>
  <app-section-tables-view
    *ngIf="tables.length > 0"
    [draggable]="true"
    [tables]="tables"
    [sectionId]="section.id"
    (tableClicked)="selectTable($event)"
  ></app-section-tables-view>
  <app-such-empty *ngIf="tables.length === 0"> </app-such-empty>
</div>
