<form [formGroup]="form" (reset)="onReset()" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="5" rowHeight="10:2">
    <mat-grid-tile>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Search employees..."
          formControlName="query"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Salary lower bound"
          type="number"
          required
          formControlName="salaryLowerBound"
        />
        <mat-error> Please provide a valid salary lower bound. </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Salary upper bound"
          type="number"
          required
          formControlName="salaryUpperBound"
        />
        <mat-error> Please provide a valid salary upper bound. </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width-input">
        <mat-label>Employee type</mat-label>
        <mat-select name="employeeSearchCategoryField" formControlName="type">
          <mat-option dataclass="searchOption" value="">All types</mat-option>
          <mat-option dataclass="searchOption" value="BARTENDER"
            >Bartender</mat-option
          >
          <mat-option dataclass="searchOption" value="WAITER"
            >Waiter</mat-option
          >
          <mat-option dataclass="searchOption" value="CHEF">Chef</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button type="reset" id="reset" mat-flat-button color="basic">
        Reset
      </button>
      <button
        id="search"
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!form.valid"
      >
        Search
      </button>
      <button
        type="button"
        id="createEmployee"
        mat-flat-button
        color="primary"
        (click)="onCreateEmployeeClick()"
      >
        Create employee
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
