<div>
  <div class="example-form">
    <form class="input-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter menu item name</mat-label>
        <input matInput formControlName="itemName" />
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="search()">Search</button>
  </div>
  <mat-grid-list cols="4" rowHeight="0.8:1" *ngIf="content.length > 0">
    <mat-grid-tile *ngFor="let item of content">
      <app-menu-item-card
        [menuItem]="item"
        [groups]="groups"
        (menuItemAdded)="openAddItem($event)"
      ></app-menu-item-card>
    </mat-grid-tile>
  </mat-grid-list>
  <app-such-empty *ngIf="content.length === 0"></app-such-empty>
  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    (page)="handlePageChanged($event)"
  >
  </mat-paginator>
</div>
