<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>CONFIRMATION</h1>
  <div mat-dialog-content>
    <p>Enter your PIN:</p>
    <mat-form-field appearance="fill">
      <mat-label>PIN code</mat-label>
      <input matInput formControlName="pin" />
      <mat-error> Please provide a valid PIN. </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancelClick()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [ngStyle]="{ 'margin-left': '43px' }"
      cdkFocusInitial
      type="submit"
      [disabled]="!form.valid"
    >
      Confirm
    </button>
  </div>
</form>
