<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <h2>Profile</h2>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Old password"
          formControlName="oldPassword"
          type="password"
          required
        />
        <mat-error> Please provide a valid old password. </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="New password"
          formControlName="newPassword"
          type="password"
          required
        />
        <mat-error> Please provide a valid new password. </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Confirm password"
          formControlName="confirmPassword"
          type="password"
          required
        />
        <mat-error> Passwords do not match. </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" (click)="onCancel()">
        Cancel
      </button>
      <button mat-raised-button [disabled]="!form.valid" color="primary">
        Update profile
      </button>
    </mat-card-actions>
  </mat-card>
</form>
